# Pandas Tutorial

You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course.

In [24]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(101)

## Content

### 1. - DataFrame Creation
   - pd.DataFrame(2d_array,index=,columns=)
   - pd.DataFrame({"col1":list,"col2":list})

### 2. DataFrame Indexing and Selection
   ##### 2.1 Column Selection
   - Bracket Notation
   - Dot Notation
   ##### 2.3 Row Selection
   - loc[]
   - iloc[]
   - loc[['ROW1','ROW2'],['COL1',COL2]]
   ##### 2.3 Conditional Selection
   - dataFrame -> condition
   - dataFrame[condition]
   - dataFrame[Multiple Conditions]
   - reset_index()
   - set_index(list,inplace = TRUE | FALSE)

### 3.  Operations on rows and columns
   - What is axis?
   - Adding a column
   - Removing a column
   - unique()
   - nunique()
   - value_counts()
   - Applying Functions (.apply(function_reference))
   - Sorting Columns sort_values(by='col_name') or sort_values(by=['col_name1',col_name2])

#### 1 - Create a Dataframe (2 methods)

In [73]:
df = pd.DataFrame({"gpa1":[1,2,3,4,5],"gpa2":[1,2,3,4,5],"gpa2":[1,2,3,4,5]})
df

   gpa1  gpa2
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5

In [75]:
df = pd.DataFrame(np.random.randint(5,size=(5,3)),["Sarah","Hisham","Ahmed","Mohamed","CARMEN"],["SCORE1","SCORE2","SCORE3"])
df

         SCORE1  SCORE2  SCORE3
Sarah         4       2       4
Hisham        0       1       4
Ahmed         2       4       0
Mohamed       4       2       4
CARMEN        1       0       3

### Count values in a column or in a DataFrame

### Select Multiple Columns

### Row Selection (2 Methods)

In [ ]:
# .loc[]

In [76]:
# .iloc[]
# selection by index

#### Cell Selection

#### Select 2 columns in 1 row

#### Select 2 rows 1 column

#### Conditional Selection

#### Multiple Conditions

#### Reset Index

#### Set Index

#### what is the axis?

In [40]:
df.shape

(5, 3)

#### Create a new column

#### Drop Column

#### unique, nunique, value_counts(), apply()

.unique() -> returns an array of removed duplicates

.nunique() -> returns the lengthof the array of removed duplicates

.value_counts() -> returns a series of count of the single cell

.apply() -> performs an operation on a single cell