# Python Crash Course

In this tutorial, we will cover:
- Basic Python: 
- Basic data types 
- Containers: Lists, Dictionaries, Sets, Tuples
- Functions

## 1 Basic Data Types

### 1.1 Numbers

Integers and floats work as you would expect from other languages:

In [44]:
x = 1
y = 2.4
z = "Sarah"

#### Arithmetic Operations

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

In [39]:
x += 1
print(x)
x *= 2
print(x)

5
10

In [40]:
print(x, type(x))

10 <class 'int'>

#### Multiple prints  in one function

In [ ]:
y = 2.5
print(" Y = ", y, "Y+1 = ", y + 1, y * 2, y ** 2)

Note that unlike many languages, Python does not have unary increment (x++) or decrement (x--) operators.

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

### 1.2 Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [46]:
t, f = True, False
print(type(t))

<class 'bool'>

Now we let's look at the logical operators:

In [47]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;

False
True
False

In [22]:
(2 < 3) and (1>2)

False

In [24]:
(2 < 3) or (1>2)

True

In [25]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### 1.3 Strings

In [48]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [49]:
hw12 = ' I Print {} {} {}'.format(hello, world, 12)  # string formatting
hw1234 = f'{hello} {world} {1234}'
print(hw12)

 I Print hello world 12

# Python String Methods

In [1]:
s = "hello world"
print(s.upper()) 
print(s.lower())
print(len(s))            # Convert a string to uppercase; prints "HELLO"
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print(s.split(" ")) #splits the string into array of substrings if it finds instances of the separator
print(s.index("o")) 
print(s.rjust(7,'x'))
print(s.center(7))     # Center a string, padding with spaces
# throws an exception
print(s.capitalize()) # Capitalize a string
print(s.encode())
print(s.ljust(100))      # Right-justify a string, padding with spaces
print(s.zfill(15))

HELLO WORLD
hello world
11
he(ell)(ell)o wor(ell)d
world
['hello', 'world']
4
hello world
hello world
Hello world
b'hello world'
hello world
0000hello world

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

# Python Slicing Methods

In [4]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
# print(b[-5:-2])
print(b[:])
# b[2:4] = ["hi","hello"] TypeError: 'str' object does not support item assignment
# b[2] = "h" TypeError: 'str' object does not support item assignment

llo
Hello
llo, World!
Hello, World!

In [5]:
nums = list(range(3,9))
print(nums)
nums[2:5] = [68,69,66]
nums

[3, 4, 5, 6, 7, 8]

[3, 4, 68, 69, 66, 8]

### Not in

In [27]:
txt = "The best things in life are free!"
print("best"  in txt)

True

### 1.4 Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### 1.4.1 List
A list is a container used to store a series of elements which may have different types. The list is represented by the symbol '[ ]' and it is resizable & dyamic.

In [6]:
myList=[0,1,2,3.0,4.0,5.0, "Apple", "Banana"]      # Create a list
print(myList)             # Print() is the output statement

[0, 1, 2, 3.0, 4.0, 5.0, 'Apple', 'Banana']

In [30]:
myList[2]=10
print(myList[4])          # Output the fourth element
print(myList[1:3])        # Output the 2 to 3 elements
print(myList[-2])         # Negative indices count from the end of the list; prints "5"
print(myList[0:-1])        # Slice indices can be negative; prints ["0, 1, 2, 3, 4]"

4.0
[1, 10]
Apple
[0, 1, 10, 3.0, 4.0, 5.0, 'Apple']

In [7]:
myList[2]='aaa'           # Lists can contain elements of different types
print(myList[2])

aaa

In [8]:
myList.append('bbb')      # Add to tail
LastEl = myList.pop()     # Remove and return the last element of the list
myList.insert(1,'xxx')    # Add to specified location
print(LastEl, myList)

bbb [0, 'xxx', 1, 'aaa', 3.0, 4.0, 5.0, 'Apple', 'Banana']

In [35]:
print('aaa' in myList)    # Determine whether the element is in the list
print(myList.count('aaa'))
# print(myList.index('aaa'))

False
0

**Looping over a List:** You can loop over the elements of a list like this:

In [36]:
animals = ['cat', 'dog', 'monkey']
for x in animals:
    print(x)

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [9]:
animals = ['cat', 'dog', 'monkey']
for i, animal in enumerate(animals):
    print('#{}: {}'.format(i + 1, animal))

#1: cat
#2: dog
#3: monkey

**List Comprehensions:** When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [10]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [11]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [12]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

You can find more details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

#### 1.4.2 Tuple
A tuple is similar to a list, and the elements in the tuple are also indexed.
Different from the list in which the value of each element can be modified, the value of the element in the tuple cannot be modified, but can only be read (thus immutable). The format for tuples is: ().

In [13]:
myTuple = ('a','b','c')             # Define a Tuple
print(myTuple)

('a', 'b', 'c')

In [14]:
try:                                # Lets try modifying the Tuple we just defined
    myTuple[1] = 'd'
except TypeError:
    print('TypeError')

TypeError

Another important difference is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot.

In [15]:
myDict = {"Jane":1997, "John":1994, "Doe":1992}
myDict["Jane"]=1987 # Update
myDict["Kate"]=1990 #Insert
print(myDict)
myDict2 = {(1,2,3):"Kim"}
print(myDict2[(1,2,3)])
del(myDict)
del(myDict2)

{'Jane': 1987, 'John': 1994, 'Doe': 1992, 'Kate': 1990}
Kim

In [16]:
mySet = set(myList)     # Converting a list to a set
print(mySet)            # Any duplicate items are removed

{0, 'aaa', 1, 3.0, 4.0, 5.0, 'Apple', 'xxx', 'Banana'}

In [17]:
m=[1,1,1,2,3, "Ahmed"]
mySet=set(m)            # Alternatively, you can also define set as mySet= {1,2,3}
print(mySet)

{1, 2, 3, 'Ahmed'}

In [ ]:
print(1 in mySet)       # Check if an element is in a set; prints "True"
print(5 in mySet)       # prints "False"

True
False

In [18]:
mySet.add(4)            # Add elements to the set
print(mySet)
mySet.add(1)            # Adding an element that is already in the set does nothing
print(mySet)
print(len(mySet))       # Number of elements in a set;
mySet.remove(2)     # Remove an element from a set
print(len(mySet))

{1, 2, 3, 4, 'Ahmed'}
{1, 2, 3, 4, 'Ahmed'}
5
4

In [19]:
mS=set([5,4,3,2,1])     # Set is unordered
print(mS)

{1, 2, 3, 4, 5}

In [20]:
a = set([1,2,3,4])
b = set([2,4,7,8])
x = a | b               # Union
print(x)
y = a & b               # Intersection
print(y)
z = a - b               # Difference set
print(z)

{1, 2, 3, 4, 7, 8}
{2, 4}
{1, 3}

**Loops:** Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [21]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: fish
#2: dog
#3: cat

**Set comprehensions:** Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

#### 1.4.4 Dictionary
A dictionary in Python is also called an associative array, enclosed in curly braces {}, and is called map in other languages (e.g., `Java`). It uses key-value storage and has extremely fast search speed, in which the key cannot be repeated.

In [22]:
myDict = {'name':'aa','id':123}     # Create a new dictionary with some data
print(myDict['id'])                 # Get an entry from a dictionary, print "123"

123

In [23]:
myDict['name'] = 'cc'                # Set an entry in a dictionary
myDict['phone'] = 'xiaomi'           # Create a new entry in the dictionary
print(myDict)

{'name': 'cc', 'id': 123, 'phone': 'xiaomi'}

In [24]:
del myDict['phone']                  # Remove an element from a dictionary
print(myDict.get('phone', 'N/A'))    # "phone" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

**Iterate over Dictionary:** It is easy to iterate over the keys in a dictionary:

In [25]:
myDict = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in myDict.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

**Dictionary comprehensions:** These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [26]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

## 2 Python Control Flow
There are three types of control flow in Python: 

1.   sequence structure (statements execute after one another in the given order, you dont need to do anything for this to happen - this is the default)
2.   branch structure (e.g., if else statements) and 
3.   loop structure (e.g., while and for loops).

Here, we use a task to analyze control flow statement, i.e., judging leap years.

In [27]:
x=2021               # Given year
if x<0:
    print('no')
elif x%100==0 :
    if x%400==0:
        print('yes')
    else:
        print('no')
elif x%4==0:
    print('yes')
else:
    print('no')

# Can you try checking if 2020 is a leap year or not?

no

## 3 Python Functions

### 3.1 Function Call

Functions are called using the paranthesis `()` after the function name: `functionname(inputs)`

In [28]:
a=-5
print(a)   # print() is a function call
a=abs(a)   # abs() is a function call to an inbuilt function `abs`
print(a)

-5
5

### 3.2 Function Definition

Python functions are defined using the `def` keyword. For example:

In [29]:
def Sum(n):
    sum=0
    for i in range(1,n+1):     #for i in list/set/tuple/dict...
        sum=sum+i
    return sum
    
print(Sum(100))
print(Sum(10))

5050
55

We will often define functions to take optional keyword arguments, like this:

In [30]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')

hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

### 3.3 Lambda Function

In [31]:
f=lambda x:x*x
x = lambda y,x:y*1.5
x(3,4)
# f(4)

4.5

**2 -** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [33]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

**3 -** Use lambda expressions and the filter() function to filters words from a list that don't start with the letter 's'. For example:

`seq = ['soup','dog','salad','cat','great']`

should be filtered down to:

`['dog', 'cat', 'great']`

In [34]:
seq = ['soup','dog','salad','cat','great']
filtered = filter(lambda x:x[0]!='s',seq)
print(list(filtered))

['dog', 'cat', 'great']